<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<!-- Inicio - Replace da Navbar -->
	<div th:replace="common/header::navbar"></div>
	<!-- Fim - Replace da Navbar -->

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span th:text="${#strings.toUpperCase(user.username)}"></span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" alt="" class="img-responsive" />
			</div>
		</div>
		<hr style="position: absolute; width: 50%; height: 6px; background-color: #333; z-index: -1; margin-top: 5px;" />
		<img class="img-responsive" src="/image/wood.png" style="margin-top: -75px;" />

		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- ################################################################################################################################################# -->
				<!-- ################################################################################################################################################# -->

				<!-- Nav Tabs -->
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}?'active'">
						<a href=" #tab-1" data-toggle="tab">
							<span style="color: red;">Edit</span>
						</a>
					</li>

					<li th:classappend="${classActiveOrders}? 'active' ">
						<a href="#tab-2" data-toggle="tab">
							<span style="color: red;">Orders</span>
						</a>
					</li>

					<li th:classappend="${classActiveBilling}? 'active'">
						<a href=" #tab-3" data-toggle="tab">
							<span style="color: red;">Billing</span>
						</a>
					</li>

					<li th:classappend="${classActiveShipping}? 'active'">
						<a href=" #tab-4" data-toggle="tab">
							<span style="color: red;">Shipping</span>
						</a>
					</li>
				</ul>

				<!-- ################################################################################################################################################# -->
				<!-- ################################################################################################################################################# -->

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- ##### Edit user information #####-->
					<!-- ##### Edit user information #####-->

					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post" th:object="${user}">
										<input type="hidden" name="id" th:value="${user.id}" />

										<div class="bg-info" th:if="${updateUserInfo}">User info updated</div>

										<!-- ##### First and Last Name ##### -->
										<!-- ##### First and Last Name ##### -->

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">First Name</label>
													<input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}"
														placeholder="First Name" />
												</div>

												<div class="col-xs-6">
													<label for="lastName">Last Name</label>
													<input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}"
														placeholder="Last Name" />
												</div>
											</div>
										</div>

										<!-- ##### Username ##### -->
										<!-- ##### Username ##### -->

										<div class="form-group">
											<label for="userName">Username</label>
											<input type="text" class="form-control" id="userName" name="username" th:value="${user.username}"
												placeholder="Username" />
										</div>

										<!-- ##### Current Password ##### -->
										<!-- ##### Current Password ##### -->

										<div class="form-group">
											<label for="currentPassword">Current Password</label>
											<input type="text" class="form-control" id="currentPassword" name="currentPassword"
												th:value="${currentPassword}" />
											<p style="color: #828282;">Enter your current password to change the email address or password.</p>
										</div>

										<!-- ##### Email ##### -->
										<!-- ##### Email ##### -->

										<div class="form-group">
											<label for="email">* Email Address</label>
											<input type="text" class="form-control" id="email" name="email" th:value="${user.email}"
												placeholder="Email Address" />
											<p style="color: #828282">A valid email address. All emails from the system will be sent to this address.
												The email address is not made public and will only be used if you wish to receive a new password or wish to
												receive certain notification.</p>
										</div>

										<!-- ##### New Password ##### -->
										<!-- ##### New Password ##### -->

										<div class="form-group">
											<label for="txtNewPassword">New Password</label>
											<input type="text" class="form-control" id="txtNewPassword" name="txtNewPassword" />
										</div>

										<!-- ##### New Password Confirmation ##### -->
										<!-- ##### New Password Confirmation ##### -->

										<div class="form-group">
											<label for="txtConfirmPassword">New Password</label>
											<input type="text" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" />
											<p style="color: #828282">To change current password, enter the new password in both fields.</p>
										</div>
										<button type="submit" class="btn btn-primary">Create new account</button>
									</form>
								</div>
							</div>
						</div>
					</div>


					<!-- ################################################################################################################################################# -->
					<!-- ################################################################################################################################################# -->

					<!-- ##### Order Information #####-->
					<!-- ##### Order Information #####-->
					<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveEdit}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;"></div>
							</div>
						</div>
					</div>

					<!-- ################################################################################################################################################# -->
					<!-- ################################################################################################################################################# -->

					<!-- ##### Order Information #####-->
					<!-- ##### Order Information #####-->

					<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveEdit}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<ol class="breadcrumb">
										<li class="breadcrumb-item active">
											<a th:href="@{/listOfCreditCard}" th:style="${listOfCreditCards}? 'color:red;'"> List of credit card</a>
										</li>
										<li class="breadcrumb-item active">
											<a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color:red;'"> Add or update credit card</a>
										</li>
									</ol>

									<div th:if="${listOfCreditCards}">
										<form th:action="@{setDefaultPayment}" method="POST">
											<table class="table">
												<thead>
													<tr>
														<th>Default</th>
														<th>Credit Card</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td>
															<input type="radio" name="defaultUserPaymentId" th:value="userPaymentId"
																th:checked="${userPayment.defaultPayment}" />
														</td>
														<td th:text="${userPayment.cardName}"></td>
														<td>
															<a th:href="@{/updateCreditCard(id=${userPayment.id})}">
																<i class="fa fa-pencil"></i>
															</a>
															<a th:href="@{/removeCreditCard(id=${userPayment.id})}">
																<i class="fa fa-times"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>

											<button class="btn btn-primary" type="submit">Save</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ################################################################################################################################################# -->
					<!-- ################################################################################################################################################# -->

					<!-- log in -->
					<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="newUsername">* Username: </label>
											<input required="required" type="text" class="form-control" id="newUsername" name="username"
												placeholder="Enter your username here." />
										</div>

										<div class="form-group">
											<label for="password">* Password: </label>
											<input required="required" type="password" class="form-control" id="password" name="password" />
											<p style="color: #828282">Enter the password that accompanies your username</p>
										</div>

										<button type="submit" class="btn btn-primary">Log in</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- ################################################################################################################################################# -->
					<!-- ################################################################################################################################################# -->

					<!-- forget password -->
					<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="recoverEmail">* Your Email: </label>
											<input required="required" type="email" class="form-control" id="recoverEmail" name="email" />
											<p style="color: #828282">Enter your registered email address here.</p>
										</div>

										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim do Container -->

	<!-- ################################################################################################################################################# -->
	<!-- ################################################################################################################################################# -->

	<!-- Inicio - Replace dos Scripts -->
	<div th:replace="common/header:: body-bottom-scripts"></div>
	<!-- Fim - Replace dos Scripts -->
</body>

</html>